[submodule "themes/quint"]
	path = themes/quint
	url = https://github.com/victoriadrake/hugo-theme-quint.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/g-hanwen/hugo-theme-nostyleplease.git
