{{ define "main" }}
  <div>
    <div class="post-list">
      {{ range .Paginator.Pages }}
        <div class="post-item">
          <a href="{{ .Permalink }}" class="post-list-title">{{ .Title }}</a>
          <p class="post-date">{{ .Page.Date.Format "Jan 2, 2006" }}</p>
        </div>
      {{ end }}
    </div>

    <div class="pagination">
      {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">Previous</a>
      {{ end }}
      
      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">Next</a>
      {{ end }}
    </div>
  </div>
{{ end }}
