/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

body {
  background-color: #272B35;
  color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  margin: 1rem;
  max-width: 768px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0rem;
  margin-bottom: 20px;
  flex: auto;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 2rem; 
  }
}

.header-content {
  display: flex;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
}

.site-title {
  margin: 0;
}

.header-actions img.icon {
  vertical-align: middle;
}

.icon {
  width: 24px;
  height: 24px;
}

.tags {
  margin-right: 1rem;
}

.external-links {
  display: flex;
  align-items: center;
}

.external-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
}

.external-links a:first-child {
  margin-left: 0;
}

a {
  color: #f2f2f2;
  font-weight: bold;
  text-decoration: none;
}

p a {
  color: #f2f2f2;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

li {
  list-style-type: "+ ";
}

ul li::marker {
    font-weight: bold;
}

.styled {
  font-size: 8rem;
  display: block;
  text-align: center; 
  margin: auto;
}

.styled1 {
  font-size: 2rem;
  display: block;
  text-align: center; 
  margin: auto;
  padding-bottom: 2em;
}

h2 {
  margin-bottom: 0rem;
}

.post-header {
  display: block;
}

p.post-date {
  display: block;
  margin-top: 1rem; 
  margin-bottom: 2rem;
  font-size: 1em;
  color: #f2f2f2;
}

.post-title {
  font-size: 1.4rem;
  color: #f2f2f2;
}

.post-tags {
  margin-top: 1em;
}

.post-tags {
  margin-top: 2em;
  margin-bottom: 1em;
}

.tag {
  display: inline-block;
  background-color: #f2f2f2;
  color: #272B35;
  padding: 0.2em 0.8em;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  border-radius: 4px;
  text-decoration: none;
}

.tag:hover {
  background-color: #525466;
  color: #f2f2f2;
}

.tag a {
  color: #f2f2f2;
  text-decoration: none;
}

p {
  line-height: 2;
  padding-bottom: 1.1rem;
}

blockquote {
  font-weight: bold;
  font-style: italic;
  margin: 1.4em 8px;
  padding: 0.4em 8px;
  color: #f2f2f2;
}

blockquote p {
  margin: 0;
}

.pagination {
  margin-top: 20px;
}

.pagination a {
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #272B35;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #272B35;
  color: #f2f2f2;
}

code {
  background-color: #525466;
  color: #f2f2f2;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: monospace;
}

pre {
  background-color: #525466 !important;
  color: #f2f2f2;
  padding: 1em;
  border-radius: 4px;
  overflow: auto;
  font-family: monospace;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

table {
  width: auto;
  max-width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
  font-size: 0.95rem;
  background-color: #525466;
  color: #f2f2f2;
  border: 1px solid #272B35;
  border-radius: 4px;
}

thead {
  background-color: #3e4251;
}

thead th {
  text-align: left;
  padding: 0.75em 1em;
  font-weight: 700;
  border-bottom: 1px solid #272B35;
  border-left: 1px solid #272B35;;
}

tbody tr {
  border-top: 1px solid #525466;
}



table td,
table th {
  white-space: nowrap;
  padding: 0.8em;
  border: 1px solid #272B35;;
}