{{ define "main" }}
  <div>
    {{ range .Paginator.Pages }}
      <h2><a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a></h2>
      <p class="post-date">{{ .Page.Date.Format "January 2, 2006" }}</p>
    {{ end }}

    <div class="pagination">
      {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">Previous</a>
      {{ end }}
      
      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">Next</a>
      {{ end }}
    </div>
  </div>
{{ end }}